<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/js/insert.js"></script>
    <title>Document</title>
</head>
<body>
    <center><h1>Insertar</h1>
    <form id="insert-form" name="insert-form">

        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <input type="text" id="telefono" name="telefono"  placeholder="Telefono">
        <input type="text" id="email"  name="email" placeholder="Email">
        <p>
            <button type="button" onclick="insertContact()">Enviar</button>
        </p>
    </form>
    <a href="index.html">Regresar</a>
</center>
<script>
    function insertContact() {
        var nombreInput = document.getElementById("nombre");
        var telefonoInput = document.getElementById("telefono");
        var emailInput = document.getElementById("email");
        var email = emailInput.value;
        var telefono = telefonoInput.value;
        var nombre = nombreInput.value;
        insertData(nombre, telefono, email);
    }
</script>
</body>
</html>