<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
</head>
<body>

    <h1>Crear Cuenta</h1>

    <form id="crearCuentaForm">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="button" onclick="crearCuenta()">Crear Cuenta</button>
    </form>

    <script src="../static/js/"></script>

</body>
</html>
